{{ define "main" }}
    <!-- Hero Section -->
    <div class="innerpage">
      <div class="innertopcontainer">
          <div class="container">
      <div class="row">
        <div class="col-md-12"><h3>{{.Title}}</h3></div>
      </div>
    </div>
      </div>
  </div>
  <!-- Hero Section -->
  <div class="clearfix"></div>

<!-- Inner Content Area -->
<section class="container innercontentarea">
  <div class="row">
    <div class="col-md-12">
      {{.Content}}
    </div>
  </div>
</section>
<!-- Inner Content Area -->

{{ end }}