<div class="container boxsection mb-4 mt-4">
    <div class="row">
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="shadowbox">
                <figure><img src='{{"images/noo1.png" | absURL}}' alt=""></figure>
                <h5>Real Time Dashboard</h5>
                <p>Vizitor gives real-time data of visitors by simply searching for a specific visitor in our dashboard you can know check-in/check-out times, visitor details, and more.</p>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="shadowbox">
                <figure><img src='{{"images/noo1.png" | absURL}}' alt=""></figure>
                <h5>Real Time Dashboard</h5>
                <p>Vizitor gives real-time data of visitors by simply searching for a specific visitor in our dashboard you can know check-in/check-out times, visitor details, and more.</p>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="shadowbox">
                <figure><img src='{{"images/noo1.png" | absURL}}' alt=""></figure>
                <h5>Real Time Dashboard</h5>
                <p>Vizitor gives real-time data of visitors by simply searching for a specific visitor in our dashboard you can know check-in/check-out times, visitor details, and more.</p>
            </div>
        </div>
        
        <div class="col-md-3 col-sm-3 col-xs-12">
            <div class="shadowbox">
                <figure><img src='{{"images/noo1.png" | absURL}}' alt=""></figure>
                <h5>Real Time Dashboard</h5>
                <p>Vizitor gives real-time data of visitors by simply searching for a specific visitor in our dashboard you can know check-in/check-out times, visitor details, and more.</p>
            </div>
        </div>
    </div>
</div>