

	<!-- Business Access Section -->
	<div id="businessaccess" class="container-fluid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<!-- <span class="blocktxt">Why Choose Us</span> -->
					<h3>Our Clients</h3>
					<p>91% of companies using influencer marketing report it to be effective</p>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-3 col-md-3 col-6 text-center">
					<h2>1000+</h2>
					<p>Registered Creators</p>
				</div>

				<div class="col-lg-3 col-md-3 col-6 text-center">
					<h2>30+</h2>
					<p>Active clients</p>
				</div>

				<div class="col-lg-3 col-md-3 col-6 text-center">
					<h2>5k+</h2>
					<p>Engagement</p>
				</div>

				<div class="col-lg-3 col-md-3 col-6 text-center">
					<h2>1M+</h2>
					<p>One million reach</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Business Access Section Ends -->