
	<div class="customerservicesection">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h1 class="text-center">Better Customer Service <br>whatever your needs</h1></div>
			</div>
			
			<div class="row mt-4">
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/speedometer.png" | absURL }}'  alt="">
					<h4>Speed</h4>
					<p>Find the right influencer to talk about your products. Set up your campaigns in minutes and gain access to potential prospects.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
				
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/strategy.png" | absURL }}' alt="">
					<h4>Reach</h4>
					<p>Allow a fresh take on content to attract attention of more people. Use indirect marketing to influence individuals who have become desensitised to your core message.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
				
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/transparency.png" | absURL }}' alt="">
					<h4>Transparency</h4>
					<p>Connect with the influencer to create direct sales lead. Identify the top of the line individuals and use in-built analytics to measure their efforts.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
				
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/chat.png" | absURL }}' alt="">
					<h4>Chat</h4>
					<p>with content creators directly after approving them to enhance the efficiency of your marketing cycle.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
			</div>
		</div>
	</div>