
	<div class="customerservicesection">
		<div class="container">
			<div class="row">
				<div class="col-md-12"><h1 class="text-center">Better Customer Service <br>whatever your needs</h1></div>
			</div>
			
			<div class="row mt-4">
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/chat.png" | absURL }}'  alt="">
					<h4>Customer Support</h4>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
				
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/headphones.png" | absURL }}' alt="">
					<h4>Internal Helpdesk</h4>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
				
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/envelope.png" | absURL }}' alt="">
					<h4>Shared Inbox</h4>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
				
				<div class="col-md-3 mt-4 mt-md-0">
					<img  src='{{"/images/bag.png" | absURL }}' alt="">
					<h4>eommerce</h4>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry.</p>
					<div class="mt-md-4"><a href="#" class="get-arrow">Learn More</a></div>
				</div>
			</div>
		</div>
	</div>