
    <div id="creativeservices1">
        <div class="container-fluid py-5">
            <div class="row mb-4">
                <div class="col-md-12 text-center topblocktxt1">
                    <span class="blocktxt1">Campaings</span>
                    <h3>TYPE OF CAMPAIGN</h3>
                </div>

                <div class="col-md-5 topblockimg">
                    <img src='{{"images/sitting-girl.png" | absURL}}' alt="">
                </div>

                <div class="col-md-7 topblockdesc mt-4">
                    <div class="w-100">
                        <img src='{{"images/no1.png" | absURL}}'  class="my-2" alt="">
                        <h4>Create Ad</h3>
                            <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. 
                                Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, 
                                When An Unknown.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"images/no2.png" | absURL}}' class="my-2" alt="">
                        <h4>Set Your Budget</h3>
                            <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. 
                                Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, 
                                When An Unknown.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"images/no3.png" | absURL}}' class="my-2" alt="">
                        <h4>Go Live</h3>
                            <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. 
                                Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, 
                                When An Unknown.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Creative Services Section Ends -->