
	
	<div class="campaignsection">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Campaigns</span>
					<h3>How Campaign Works</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-6 pl-0 topblockimg">
					<img src='{{"/images/sitting-girl.png" | absURL }}' alt="">
				</div>
				
				<div class="col-md-6">
					<div class="w-100">
						<figure><img src='{{"/images/noo1.png" | absURL }}' alt=""></figure>
						<h5>Create Ad</h5>
						<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p></div>
						
						<div class="w-100">
						<figure><img  src='{{"/images/noo2.png" | absURL }}' alt=""></figure>
						<h5>Set Your Budget</h5>
						<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p></div>
						
						<div class="w-100">
						<figure><img src='{{"/images/noo3.png" | absURL }}' alt=""></figure>
						<h5>Go LIve</h5>
						<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p></div>
				</div>
			</div>
		</div>
	</div>