
    <div id="creativeservices1">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-md-12 text-center topblocktxt1">
                    <span class="blocktxt1">Campaings</span>
                    <h3>Type of Campaign - Content & Engagement</h3>
                </div>

                <div class="col-md-5 topblockimg">
                    <img src='{{"/images/sitting-girl.png" | absURL}}' alt="">
                </div>

                <div class="col-md-7 topblockdesc mt-4">
                    <div class="w-100">
                        <img src='{{"/images/no1.png" | absURL}}'  class="my-2" alt="">
                        <h4>Choose and Apply</h3>
                            <p>Use your power to affect the buying decisions of others. Choose the campaign which is more suitable to your position and relationship with your audience. The distinct ways to influence allows you to vary your style. Submit your bids accordingly.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"/images/no2.png" | absURL}}' class="my-2" alt="">
                        <h4>Read Briefs and Create</h3>
                            <p>Read the briefs; go through the boards and references to understand what brands want and the dos and don’ts. Match your style with their needs. Complete the tasks and submit your creative content for endorsements.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"/images/no3.png" | absURL}}' class="my-2" alt="">
                        <h4>Get Paid and Enjoy</h3>
                            <p>Roll in extra side cash by sharing exclusive experiences. Automatic reports are shared with the brands at the agreed schedule. Make sure to submit on time to take the maximum benefit and don’t forget to check your wallet for instant payments..</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Creative Services Section Ends -->