
    <div id="creativeservices1">
        <div class="container py-5">
            <div class="row mb-4">
                <div class="col-md-12 text-center topblocktxt1">
                    <span class="blocktxt1">Campaings</span>
                    <h3>Engagement campaign</h3>
                </div>

                <div class="col-md-5 topblockimg">
                    <img src='{{"/images/sitting-girl.png" | absURL}}' alt="">
                </div>

                <div class="col-md-7 topblockdesc mt-4">
                    <div class="w-100">
                        <img src='{{"/images/add-friend.png" | absURL}}'  class="my-2" alt="">
                        <h4>Explore campaigns</h3>
                            <p>Explore the campaigns posted by brand, study the guidelines provided  and understand their goals.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"/images/details.png" | absURL}}' class="my-2" alt="">
                        <h4>Post first </h3>
                            <p>Post your creative content directly on your social media profile as per the brief given in the campaign. No approvals required.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"/images/internet-explorer.png" | absURL}}' class="my-2" alt="">
                        <h4>Get paid as you engage</h3>
                            <p>Pay-as-you-engage is as simple as it sounds. The more engagement your post receives, the higher is the amount that you get.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Creative Services Section Ends -->