
	
	<div class="campaignsection">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Campaigns</span>
					<h3>How Campaign Works/Type of Campaigns</h3>
				</div>
			</div>
			
			<div class="row">
				<div class="col-md-4 pl-0 topblockimg mobhide">
					<img src='{{"/images/sitting-girl.png" | absURL }}' alt="">
				</div>
				
				<div class="col-md-8">
					<section class="container py-4">
						<div class="row">
							<div class="col-md-12">
								<ul id="tabs" class="nav nav-tabs">
									<li class="nav-item"><a href="" data-target="#content-tab" data-toggle="tab" class="nav-link text-uppercase">Content <span class="mobhide">Campaign</span></a></li>
									<li class="nav-item"><a href="" data-target="#engagement-tab" data-toggle="tab" class="nav-link text-uppercase active">Engagement <span class="mobhide">Campaign</span></a></li>
								</ul>
								<br>
								<div id="tabsContent" class="tab-content">
									<div id="content-tab" class="tab-pane fade active show">
										<div class="w-100">
											<figure><img src='{{"/images/add-friend.png" | absURL }}' alt=""></figure>
											<h5>Create campaign</h5>
											<p>Create campaigns easily by defining your audience, goals and preferred social media platforms. Set your budget, get bids accordingly and approve only those projects that meet your criteria. </p></div>
											
											<div class="w-100">
											<figure><img  src='{{"/images/details.png" | absURL }}' alt=""></figure>
											<h5>Select Influencers</h5>
											<p>Pick the content creators who meet your reach, traffic, engagement and conversion standards. Pick between cross bidding and one to one negotiations.</p></div>
											
											<div class="w-100">
											<figure><img src='{{"/images/internet-explorer.png" | absURL }}' alt=""></figure>
											<h5>Monitor Your Performance</h5>
											<p>Evaluate the effectiveness of the posts in increasing brand awareness, reaching new audiences, and release the payment only after approving the content.</p></div>
									</div>
									<div id="engagement-tab" class="tab-pane fade">
										<div class="w-100">
											<figure><img src='{{"/images/add-friend.png" | absURL }}' alt=""></figure>
											<h5>Launch the campaign</h5>
											<p>Increase awareness of your products and encourage trials by opening your campaigns to all influencers.</p></div>
											
											<div class="w-100">
											<figure><img  src='{{"/images/details.png" | absURL }}' alt=""></figure>
											<h5>Set your goal</h5>
											<p>Mention how much reach you want and define an agreeable engagement rate. Take benefit of Famstar’s auto budget suggestions to launch quick campaigns.</p></div>
											
											<div class="w-100">
											<figure><img src='{{"/images/internet-explorer.png" | absURL }}' alt=""></figure>
											<h5>Enjoy your reach</h5>
											<p>Get automated reports on influencers’ creative content and release payments only for those posts that meet the campaign goals.</p></div>
									</div>
								</div>
							</div>
						</div>
					</section>
					
				</div>
			</div>
		</div>
	</div>