	<!-- Client Scroll Section -->
	<!-- <div id="clientscroll" class="container">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-12">
					<ul class="client-logo"> 
						{{ range .Site.Data.clients.items }}
							
							<li><img src="{{.image | absURL }}" alt="{{.brand}}"></li>
						{{end}}
					</ul>
				</div>
				
			</div>
		</div>
	</div> -->
	<!-- Client Scroll Section Ends -->

	<!-- test -->
	<div class="container" id="clientscroll">
		<h2>Our  Partners</h2>
		 <section class="customer-logos slider">
			<div class="slide"><img src='{{"images/1.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/2.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/3.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/4.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/5.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/6.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/7.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/8.png" | absURL}}'></div>
		 </section>
	</div>