	

	<!-- test -->
	<div class="container" id="clientscroll">
		 <section class="customer-logos slider">
			{{ range .Site.Data.clients.items }}							
				<div class="slide"><img src="{{ .image | absURL }}" alt="{{.brand}}"></div>
		 	{{end}}
		<!--	<div class="slide"><img src='{{"images/1.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/2.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/3.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/4.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/5.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/6.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/7.png" | absURL}}'></div>
			<div class="slide"><img src='{{"images/8.png" | absURL}}'></div> -->
		 </section>
	</div>