
	<!-- Botoombg Section -->
	<div id="bottombg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="bottomcontent">
						<h5>Pay As You Engage</h5>
						<h3>Stats about influencer marketing</h3>
						<p>Influencer marketing is one of the fastest-growing and promising fields of marketing,and is expected to grow $9.7 Bn by 2021.</p>
						<div class="getmore"><a href="#">Learn More</a></div>
					</div>
				</div>
				<div class="col-md-6"><img src="{{.Site.BaseURL}}/images/img13.png" alt="">
					<div class="imagetext">
						<h1>72%</h1>
						<p>of brands are considering increasing their budget allocation for influencer <br> marketing 2021.</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Botoombg Section Ends -->