
	<!-- Botoombg Section -->
	<div id="bottombg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="bottomcontent">
						<h5>Pay As You Engage</h5>
						<h3>HELP BRING BACK TO YOUR FACILITY SAFELYAND CONFIDENTLY.</h3>
						<p>Use Our Broad Network Of Influencers And Find Who You Need, When You Need Them. Make Use Of
							The Influence Of Creators Over Their Followers. Target Using Keywords, Demographics,
							Interests, Location, To Start With.</p>
						<div class="getmore"><a href="#">Learn More</a></div>
					</div>
				</div>
				<div class="col-md-6"><img src="{{.Site.BaseURL}}images/img13.png" alt="">
					<div class="imagetext">
						<h1>70%</h1>
						<p>of Workers are Concerned About <br> Covid-19 Exposure <br>
							at Work</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Botoombg Section Ends -->