
	<!-- Botoombg Section -->
	<div id="bottombg">
		<div class="container">
			<div class="row align-items-center">
				<div class="col-md-6">
					<div class="bottomcontent">
						<h5>Pay As You Engage</h5>
						<h3>Stats</h3>
						<p>Influencer marketing is one of the fastest-growing and promising fields of marketing, and is expected to grow $9.7 billion by 2021.</p>
						<p class="mt-4">Be better than your competitors in using the collective content creation power of influencers to drive in better visibility of your brand. Select the most suitable creators to be a part of your campaign and measure the results in real-time.</p>
						<div class="getmore"><a class="btn-arrow" href="#">Learn More</a></div>
					</div>
				</div>
				<div class="col-md-6 mt-4 mt-md-0 text-center position-relative"><img src="{{.Site.BaseURL}}/images/img13.png" alt="">
					<div class="imagetext">
						<h1 class="text-left">71%</h1>
					</div>
					<p class="text-center image-p">of marketers say that customers gained from influencer marketing are higher-quality than those gained from other kinds of marketing</p>
				</div>
			</div>
		</div>
	</div>
	<!-- Botoombg Section Ends -->