

	<!-- Footer Section -->
	<footer class="footer">
		<div class="container-fluid">
			<div class="row text-center">
				<div class="col-md-3">
					<h2>Products</h2>
					<ul>
						<li><a href="#">Products</a></li>
						<li><a href="#">Pricing</a></li>
						<li><a href="#">Login</a></li>
						<li><a href="#">Request Access</a></li>
						<li><a href="#">Partnership</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h2>About Us</h2>
					<ul>
						<li><a href="#">About Famster</a></li>
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Features</a></li>
						<li><a href="#">Career</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h2>Resources</h2>
					<ul>
						<li><a href="#">Help Center</a></li>
						<li><a href="#">Book a Demo</a></li>
						<li><a href="#">Services Status</a></li>
						<li><a href="#">Blog</a></li>
					</ul>
				</div>

				<div class="col-md-3">
					<h2>Get in Touch</h2>
					<p>Ph: +91-8830841115</p>
					<p>Email: <a href="#">info@famster.in</a></p>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center">
					<div class="social">
						<a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
						<a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
						<a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
						<a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-md-12 text-center footbtm">
					<figure><img src="{{.Site.BaseURL}}/images/footlogo.png" alt="logo"></figure>
					<p>Copyright &copy; 2021 Famstar.in</p>
					<p><a href="/privacy/">Privacy Policy</a> | <a href="/terms/">Terms & Condition</a> </p>
					<p>Made with <img src="{{.Site.BaseURL}}/images/heart.png" alt=""> In India</p> 
				</div>
			</div>
		</div>
	</footer>
	<!-- Footer Section -->

    {{- partial "script.html" . -}}
    
	
</body>

</html>