
    <!-- get payed section starts -->
    <div id="getpayed">
        <div class="container my-5">
            <div class="row dbba">
                <div class="col-12">
                    <div class="row dbbain d-flex justify-content-between" style="padding: 20px;">
                        <div class="col-md-7 my-4 mt-5 mx-3">
                            <h5>Get paid nest day width payday advance</h5>

                            <p><span class="getspan">Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting
                                    Industry.</span> <br> Lorem Ipsum Is Simply Dummy Text Of The Printing And
                                Typesetting Industry. Lorem
                                Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An
                                Unknown Printer Took A Galley Of Type And Scrambled It To Make A Type Specimen Book.
                                It Has Survived Not Only Five Centuries, But Also The Leap Into Electronic Typesetting,
                                Remaining Essentially Unchanged. It Was Popularised In The 1960S With.</p>
                        </div>
                        <div class="col-md-4">
                            <div class="getimg">
                                <img src='{{"images/smile.png" | absURL}}'  alt="">
                                <div class="getimg-txt">
                                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing
                                        And Typesetting Industry. Lorem Ipsum Has Been
                                        The Industry's Standard Dummy</p>
                                    <h4>John Doe</h4>
                                    <p>Freelancer/Agency Owner</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>