
    <!-- get payed section starts -->
    <div id="getpayed">
        <div class="container my-5">
            <div class="row dbba">
                <div class="col-12">
                    <div class="row dbbain d-flex justify-content-between align-items-center pb-5" style="padding: 20px;">
                        <div class="col-md-6 my-4 mt-5 mx-3">
                            <h5>Payments are cleared within 24 hours</h5>

                            <p>One of the biggest challengers that influencers face is of getting their payment on time. Famstar has made it possible to level up and ensure that influencers get paid within 24-hours of their content submission. The platform gives transparency and power to creators who become the face of successful brands. </p>
                        </div>
                        <div class="col-md-5">
                            <div class="getimg">
                                <img src='{{"/images/smile.png" | absURL}}'  alt="">
                                <div class="getimg-txt">
                                    <p>My name is Mansi Wadhwa and I recently worked with Famstar on a very special campaign. Although it was our first association, I was highly impressed by the clarity of communication and  highest degree of professionalism shown by all the representatives of Famstar who were connected with me for the campaign. The payment was super swift and it was just an overall wonderful experience working with them. I hope to maintain our work relationship with them on a long term basis.</p>
                                    <h4>Mansi Wadhwa</h4>
                                    <p>Influencer</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>