{{range .Params.sections}}
    <div class="homegrid my-5 py-5">
        <div class="row">
            <div class="col-md-12 text-center topblocktxt">
                <span class="blocktxt">{{.titleBadge}}</span>
                <h3>{{.title}}</h3>
                <p>{{.subTitle}}</p>
            </div>
            {{range .lists }}
            <div class="rowitems col-lg-12 col-md-12">
                <div class="col-lg-5 col-md-5 imgcontent"><img src="{{ .image | absURL }}" alt=""></div>
                <div class="col-lg-7 col-md-7 gridcontent">
                    <h2>{{.heading}}</h2>
                    {{with .subHeading}}<h5>{{.}}</h5>{{end}}

                    {{.content | safeHTML | markdownify}}

                    <div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
                </div>
            </div>
        {{end}}


        </div>
</div>
{{end}}