
	<div class="happycustomer">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<h3 class="text-center">Famstar happy customer</h3>
				</div>
			</div>
			
			<div class="row mt-4">
				<div class="col-md-6 my-5 my-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="d-flex align-items-center"><img src='{{"images/gumroad.png" | absURL }}' alt=""> <h4>Gumroad</h4></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
							<div class="d-flex align-items-center mt-3">
								<div><img src='{{"images/smlpic.png" | absURL }}'  alt=""></div>
								<div class="customerdetail">
									<h3>Ariana B.</h3>
									<p>Earned $1,000 In Scholarships</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 pl-0"><img src='{{"images/dblpic1.png" | absURL }}' alt=""></div>
					</div>
				</div>
				
				<div class="col-md-6 my-5 my-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="d-flex align-items-center"><img src='{{"images/customer.png" | absURL }}' alt=""> <h4>Customer Support</h4></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
							<div class="d-flex align-items-center mt-3">
								<div><img  src= '{{"images/smlpic.png" | absURL }}' alt=""></div>
								<div class="customerdetail">
									<h3>Ariana B.</h3>
									<p>Earned $1,000 In Scholarships</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 pl-0"><img src= '{{"images/dblpic2.png" | absURL }}' alt=""></div>
					</div>
				</div>
				
				<div class="col-md-6 my-5 my-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="d-flex align-items-center"><img src= '{{"images/customer.png" | absURL }}' alt=""> <h4>Customer Support</h4></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
							<div class="d-flex align-items-center mt-3">
								<div><img  src= '{{"images/smlpic.png" | absURL }}' alt=""></div>
								<div class="customerdetail">
									<h3>Ariana B.</h3>
									<p>Earned $1,000 In Scholarships</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 pl-0"><img  src= '{{"images/dblpic2.png" | absURL }}' alt=""></div>
					</div>
				</div>
				
				<div class="col-md-6 my-5 my-md-4">
					<div class="row">
						<div class="col-md-6">
							<div class="d-flex align-items-center"><img  src= '{{"images/gumroad.png" | absURL }}' alt=""> <h4>Gumroad</h4></div>
							<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an.</p>
							<div class="d-flex align-items-center mt-3">
								<div><img src= '{{"images/smlpic.png" | absURL }}' alt=""></div>
								<div class="customerdetail">
									<h3>Ariana B.</h3>
									<p>Earned $1,000 In Scholarships</p>
								</div>
							</div>
						</div>
						
						<div class="col-md-6 pl-0"><img src= '{{"images/dblpic1.png" | absURL }}' alt=""></div>
					</div>
				</div>
			</div>
		</div>
	</div>