
    <!-- Hero Section -->
    <div class="innercontainer">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <h2>We are FAMSTAR, Fam...</h2>
					<p>During the pandemic of 2020, a team of visionaries got together to research on modern marketing's boy wonder-Influencer Marketing. They realized that for the price of hiring one celebrity influencer, reach &amp; influence of 50 micro-influencers could be used. For the same price, those social influencers could help a brand reach more people organically, engage with more prospects and create niche-based content that will be unique on its own.</p>
					<p class="mb-5">During the pandemic of 2020, a team of visionaries got together to research on modern marketing's boy wonder-Influencer Marketing. They realized that for the price of hiring one celebrity influencer, reach &amp; influence of 50 micro-influencers could be used. For the same price, those social influencers could help a brand reach more people organically, engage with more prospects and create niche-based content that will be unique on its own.</p>
                </div>
				<div class="col-lg-6"><figure><img src="images/aboutbanner.jpg" alt=""></figure></div>
            </div>
			
			<div class="row aboutinfo">
				<div class="col-md-4">
					<figure><img src="images/noo1.png" alt=""></figure>
					<h5>Create Ad</h5>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
				</div>
				
				<div class="col-md-4">
					<figure><img src="images/noo2.png" alt=""></figure>
					<h5>Set Your Budget</h5>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
				</div>
				
				<div class="col-md-4">
					<figure><img src="images/noo3.png" alt=""></figure>
					<h5>Go Live</h5>
					<p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
				</div>
			</div>
			
			<div class="w-100 text-center mb-5"><h5>We are what we believe in, and we believe in INNOVATION &amp; TRANSPARENCY!<h5></div>
			
			<div class="homegrid">
				<div class="row">
						<div class="col-md-12 text-center topblocktxt">
							<span class="blocktxt">Why Choose Us</span>
							<h3>Why You'll Adore Us</h3>
							<p>We encountered how difficult influencer marketing can be without the right tools. So, we created
								Famstar to take care of this problem. And now, we are leading the way for the creators and
								brands alike.</p>
						</div>
		
						<div class="rowitems col-lg-12 col-md-12">
						<div class="col-lg-5 col-md-5 imgcontent"><img src="images/img1.png" alt=""></div>
						<div class="col-lg-7 col-md-7 gridcontent">
							<h2>Explore &amp; Analyse</h2>
							<h5>Manage your talent with easy search features</h5>
							<p>Utilize Our Widespread Network of Influencers And Find Who You Need, When you Need Them. Leverage
								The Influence of Creators Over Their Followers. Target Using Keywords, Demographics, Interests,
								Location, To Start With.</p>
							<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
						</div>
					</div>
		
						<div class="rowitems col-lg-12 col-md-12 align-items-center">
						<div class="col-lg-6 col-md-6 imgcontent"><img src="images/img2.png" alt="" style="max-width: 100%;">
						</div>
						<div class="col-lg-6 col-md-6 gridcontent">
							<h2>Monitor &amp; Manage</h2>
							<h5>Plan Your campaign as per your needs</h5>
							<p>Get Everything You Need To Manage influencer Relationships, Contact Information, Campaign Bids,
								And Campaign Data. Use Our Built-In Automation To Ensure Time &amp; Money Efficiency.</p>
							<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
						</div>
					</div>
		
						<div class="rowitems col-lg-12 col-md-12 align-items-center">
						<div class="col-lg-6 col-md-6 imgcontent"><img src="images/img3.png" alt="" style="max-width: 110%;">
						</div>
						<div class="col-lg-6 col-md-6 gridcontent">
							<h2>Measure &amp; Multiply</h2>
							<h5>Intuitive Analytics</h5>
							<p>With The Help of Powerful Analytics, Measure Everything From Reach, Views, Total Social Value,
								Conversion And ROI. We Have Everything To Measure The Core of your Marketing Efforts.</p>
							<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
						</div>
					</div>
					</div>
			</div>
        </div>
    </div>
    <!-- Hero Section -->
    <div class="clearfix"></div>