<div class="row align-items-center">
	<div class="col-lg-6">
		<h2>We are FAMSTAR, Fam...</h2>
		<p>During the pandemic of 2020, a team of visionaries got together to research on modern marketing's boy wonder-Influencer Marketing. They realized that for the price of hiring one celebrity influencer, reach &amp; influence of 50 micro-influencers could be used. For the same price, those social influencers could help a brand reach more people organically, engage with more prospects and create niche-based content that will be unique on its own.</p>
		<p class="mb-5">During the pandemic of 2020, a team of visionaries got together to research on modern marketing's boy wonder-Influencer Marketing. They realized that for the price of hiring one celebrity influencer, reach &amp; influence of 50 micro-influencers could be used. For the same price, those social influencers could help a brand reach more people organically, engage with more prospects and create niche-based content that will be unique on its own.</p>
	</div>
	<div class="col-lg-6"><figure><img src="images/aboutbanner.jpg" alt=""></figure></div>
</div>
			
	
			