	
{{if .IsHome }}
	<!-- Hero Section -->
	<div id="hero" class="mainbanner">
		<div class="container-fluid">
			<div class="row align-items-center">
				<div class="col-lg-8">
					<div class="bannerleft">
						{{ with .Params.hero.tagLine }}<h1>{{.}}</h1> {{end}}
						{{ with .Params.hero.title }}<h4>{{. | safeHTML}}</h4>{{end}}
						{{ with .Params.hero.subTitle }}<h3 class="mt-3">{{.| safeHTML}}</h3>{{end}}
						{{ if .Params.hero.btnText }}
							<div class="bannerbtn mt-4"><a href="{{.Params.hero.btnUrl}}" class="btn-arrow">{{.Params.hero.btnText}}</a></div>
						{{end}}
						{{ if .Params.hero.follow.text }}						
							<div class="followersection">
								<ul class="influencers-hero">
									{{ range .Params.hero.follow.Images }}
										<li>										
											<img src="{{ .  }}" alt="influencers">
										</li>
									{{ end }}
								</ul>
								

								{{ .Params.hero.follow.text }}
							</div>
						{{ end }}

						
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Hero Section -->
	<div class="clearfix"></div>
{{end}}
{{if eq .Type "brand" }}
	
    <!-- Hero Section -->
    <div id="hero" class="influencebanner">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="bannerleft">
                        <h2>Research, Plan & Execute <br> Global Social Media <br> Campaigns</h2>
                        <p>Build an engaging influencer marketing program that <br> works round the clock.Access unmatched influencer data <br> and tap into the power of digital marketing beyond borders. .</p>

                        <div class="bannerbtn mt-4"><a href="#" class="btn-arrow">Request A Demo</a></div>
						
                        <div class="influencebannerbtm">
							<div class="d-flex">
								<div class="campaignleft">
									<h2>79,270</h2>
									<p>CREATORS HUNGRY TO CELEBRATE YOUR BRAND</p>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
	<div class="clearfix">
	</div>
    <!-- Hero Section -->
	{{end}}

	{{if eq .Type "influence" }}

	
    <!-- Hero Section -->
    <div id="hero" class="influencebanner influencebannerbg">
        <div class="container-fluid">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="bannerleft">
                        <h2>CREATE CONTENT<br> HAVE FUN<br> GET PAID</h2>
                        <p>It is A Long Established <span>Fact That A Reader</span> Will Be Distracted By<br> The Readable
                            Content Of A Page When Looking At its Layout.</p>
							
                        <div class="banner-download">
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Download Now">
                            </form>
                        </div>
						
                        <div class="influencebannerbtm">
							<div class="d-flex">
								<div class="campaignleft">
									<h2>16,580</h2>
									<p>campaings from brands you love</p>
								</div>
								
								<div class="campaignright">
									<h2>$24M</h2>
									<p>Paid out to Influencer worldwide</p>
								</div>
							</div>
						</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Hero Section -->
    <div class="clearfix"></div>

	{{end}}