<div class="row aboutinfo">
    <div class="col-md-4">
        <figure><img src="images/noo1.png" alt=""></figure>
        <h5>Create Ad</h5>
        <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
    </div>
    
    <div class="col-md-4">
        <figure><img src="images/noo2.png" alt=""></figure>
        <h5>Set Your Budget</h5>
        <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
    </div>
    
    <div class="col-md-4">
        <figure><img src="images/noo3.png" alt=""></figure>
        <h5>Go Live</h5>
        <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
    </div>
</div>