
    <!-- Creative Services Section -->
    <div id="creativeservices">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topblocktxt1">
                    <span class="blocktxt1">How it works</span>
                    <h3>YOUR ONE-STOP INFLUENCER <br>
                        MARKETING SYSTEM</h3>
                </div>

                <div class="col-md-6 topblockimg">
                    <img src='{{"images/you-asked.png" | absURL}}' alt="">
                </div>

                <div class="col-md-6 topblockdesc mt-4">
                    <div class="w-100">
                        <img src='{{"images/noo1.png" | absURL}}' class="my-2" alt="">
                        <h4>Personalized Vetted Scholarship Matches</h3>
                            <p>Get Matched To Scholarships That Are Most Relevant To You.
                                View Scholarship Credibility Scores To Know Where To Focus.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"images/noo2.png" | absURL}}'  class="my-2" alt="">
                        <h4>Personalized Vetted Scholarship Matches</h3>
                            <p>Get Matched To Scholarships That Are Most Relevant To You.
                                View Scholarship Credibility Scores To Know Where To Focus.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"images/noo3.png" | absURL}}'  class="my-2" alt="">
                        <h4>Personalized Vetted Scholarship Matches</h3>
                            <p>Get Matched To Scholarships That Are Most Relevant To You.
                                View Scholarship Credibility Scores To Know Where To Focus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>