
	<div class="howitworkssection pinkbar">
		<div class="container">
			<div class="panel-group">
				<h3>How it works <a href="javascript:void(0)" class="newbtn">Expand/Collapse All</a></h3>
			  <div class="clearfix"></div>
			
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse" aria-expanded="false" aria-controls="collapse">Discover</a></h4>
				</div>
				
				<div class="card-text collapse" id="collapse">
				  <div class="panel-body">
					<div class="tabrow">
					  <div class="row">
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no1.png" | absURL}}' alt=""></figure>
							  <h5>Create Ad</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no2.png" | absURL}}' alt=""></figure>
							  <h5>Set Your Budget</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no3.png" | absURL}}' alt=""></figure>
							  <h5>Go Live</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
					  </div>
			  </div>
				</div>
			  </div>
			  </div>
			  
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse">Manage</a></h4>
				</div>
				
				<div class="card-text collapse" id="collapse1">
				  <div class="panel-body">
					<div class="tabrow">
					  <div class="row">
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no1.png" | absURL}}' alt=""></figure>
							  <h5>Create Ad</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no2.png" | absURL}}' alt=""></figure>
							  <h5>Set Your Budget</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no3.png" | absURL}}' alt=""></figure>
							  <h5>Go Live</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
					  </div>
			  </div>
				</div>
				</div>
			  </div>
			  
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse">Analyze</a></h4>
				</div>
				
				<div class="card-text collapse" id="collapse2">
				  <div class="panel-body">
					<div class="tabrow">
					  <div class="row">
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no1.png" | absURL}}' alt=""></figure>
							  <h5>Create Ad</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no2.png" | absURL}}' alt=""></figure>
							  <h5>Set Your Budget</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/no3.png" | absURL}}' alt=""></figure>
							  <h5>Go Live</h5>
							  <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown.</p>
						  </div>
					  </div>
			  </div>
				</div>
				</div>
			  </div>
			</div>
	  </div>
	</div>
	