
	<div class="howitworkssection pinkbar">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Campaigns</span>
					<h3>How it Works</h3>
				</div>
			</div>
			<div class="panel-group">
			  <div class="clearfix"></div>
			
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse" aria-expanded="true" aria-controls="collapse">Discover</a></h4>
				</div>
				
				<div class="card-text collapse show" id="collapse">
				  <div class="panel-body">
					<div class="tabrow">
					  <div class="row">
						  <div class="col-md-4">
							  <figure><img src='{{"/images/internet-explorer.png" | absURL}}' alt=""></figure>
							  <h5>Powerful Search Algorithm</h5>
							  <p>Find the right influencers for your brand. Famstar’s unrivaled influencer discovery is complemented by filters like gender, age, location, etc. for easy accessibility..</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/add-friend1.png" | absURL}}' alt=""></figure>
							  <h5>Profile insights</h5>
							  <p>Narrow your search by looking through detailed insights of past work of the influencers, their engagement rates, and review their ability to connect with your audience.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/details.png" | absURL}}' alt=""></figure>
							  <h5>Save Your Favourite</h5>
							  <p>Create & maintain a bucket list, grow your community by listing favorites and get in touch with them with just a click.</p>
						  </div>
					  </div>
			  </div>
				</div>
			  </div>
			  </div>
			  
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse1" aria-expanded="false" aria-controls="collapse">Manage</a></h4>
				</div>
				
				<div class="card-text collapse" id="collapse1">
				  <div class="panel-body">
					<div class="tabrow">
					  <div class="row">
						  <div class="col-md-4">
							  <figure><img src='{{"/images/taking_selfie.png" | absURL}}' alt=""></figure>
							  <h5>Campaign Creation</h5>
							  <p>Analyse influencer’s data to understand how they stack against your brand. Identify people who have a strong influence on social media and create detailed briefs to engage with them</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/Page-1.png" | absURL}}' alt=""></figure>
							  <h5>Open Bidding</h5>
							  <p>Optimise your budget, match bids to target the influencers and negotiate a competitive price. Partner with the most talented minds and run exciting campaigns.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/approve.png" | absURL}}' alt=""></figure>
							  <h5>Content Approval</h5>
							  <p>Approve the content that meets your goals and message. Handpick posts that increase your customer base and expand your products and services into new user groups.</p>
						  </div>
					  </div>
			  </div>
				</div>
				</div>
			  </div>
			  
			  <div class="panel panel-default">
				<div class="panel-heading">
				  <h4 class="panel-title"><a data-toggle="collapse" data-target="#collapse2" aria-expanded="false" aria-controls="collapse">Evaluate</a></h4>
				</div>
				
				<div class="card-text collapse" id="collapse2">
				  <div class="panel-body">
					<div class="tabrow">
					  <div class="row">
						  <div class="col-md-4">
							  <figure><img src='{{"/images/Monitoring.png" | absURL}}' alt=""></figure>
							  <h5>Monitor Campaigns</h5>
							  <p>Cultivate your brand visibility by managing campaigns right from your smartphone, tablet, or laptop. Monitor the posts and their respective results in real time.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/workflow.png" | absURL}}' alt=""></figure>
							  <h5>Analyse</h5>
							  <p>Track the reach, impressions, conversions & total value addition of campaign, post or influencer. Use the data to improve the effectiveness of your social media marketing program.</p>
						  </div>
						  
						  <div class="col-md-4">
							  <figure><img src='{{"/images/down.png" | absURL}}' alt=""></figure>
							  <h5>Download Reports</h5>
							  <p>Download reports and summarise entire factors for future reference. Identify strong campaigns, filter out low performing influencers and turn information into actionable insight.</p>
						  </div>
					  </div>
			  </div>
				</div>
				</div>
			  </div>
			</div>
	  </div>
	</div>
	