
    <!-- Creative Services Section -->
    <div id="creativeservices">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topblocktxt1">
                    <span class="blocktxt1">How it works</span>
                    <h3>Let's set you up for the future</h3>
                </div>

                <div class="col-md-6 topblockimg">
                    <img src='{{"images/you-asked.png" | absURL}}' alt="">
                </div>

                <div class="col-md-6 topblockdesc mt-4">
                    <div class="w-100">
                        <img src='{{"images/noo1.png" | absURL}}' class="my-2" alt="">
                        <h4>Create an Account</h3>
                            <p>Create your account, set up your profile, pick your niche, connect your social profiles and become a part of Famstar's community.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"images/noo2.png" | absURL}}'  class="my-2" alt="">
                        <h4>Build your Profile</h3>
                            <p>Add more details about your content creation style, personal info, specialities; it enables brands to find you easily.</p>
                    </div>
                    <div class="w-100">
                        <img src='{{"images/noo3.png" | absURL}}'  class="my-2" alt="">
                        <h4>Explore & Collaborate</h3>
                            <p>Determine what your posts are worth and set a fixed price. When a brand selects your posts and buys it, you can get paid within 24 hours.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>