
	<div id="influencertop">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Reach to your customers via Influencers</h3>
					<p>Support your flexibility of being an influencer with a platform that provides discovery tools for various campaigns. Drill your way through multiple options to find brands that match the most with your unique style. Increase your visibility by gaining credibility with our unique rating system and allow your content to be valued. Earn via pitching, referring, sharing your influencer journey and blogging.</p>
					<figure><img src='{{"/images/increase.png" | absURL }}' alt=""></figure>
				</div>
			</div>
		</div>
	</div>