
	<div id="influencertop">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center">
					<h3>Increase Sales With Influencers</h3>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's<br> standard dummy text ever since the 1500s, when an unknown printer took a galley of type<br> and scrambled it to make a type specimen book.</p>
					<figure><img src='{{"images/increase.png" | absURL }}' alt=""></figure>
				</div>
			</div>
		</div>
	</div>