<!-- key to success -->
<div id="keysection">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <h5>The Key to Success</h5>
                <h3>A Diverse Network,<br> an intelligent platform</h3>
                <p>With The Help Of Powerful Analytics, Measure Everything From Reach, Views, Total Social Value,
                    Conversion And ROI. We Have Everything To Measure The Core Of
                    Your Marketing Efforts.</p>
                <div class="w-100 mt-4 store"><a href="#"><img src="{{.Site.BaseURL}}images/playstore.png" alt=""></a> <a href="#"><img
                            src="{{.Site.BaseURL}}images/appstore.png" alt=""></a></div>
            </div>
            <div class="col-lg-6"><img src="{{.Site.BaseURL}}images/img6.png" alt=""></div>
        </div>
    </div>
</div>
<!-- key to success section Ends -->