

	<!-- Why Choose -->
	<div id="whychoose">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Why Choose Us</span>
					<h3>Market Leaders Use App To Rich</h3>
				</div>
			</div>

			<div class="row">
				<div class="col-lg-4">
					<div class="grids purple">
						<figure><img src="{{.Site.BaseURL}}images/img7.png" alt=""></figure>
						<div class="choosecontent">
							<h6>Marketing</h6>
							<h4>Pantene's Gold Series</h4>
							<div class="row">
								<div class="col-md-3 text-center p-0">
									<span>9</span>
									<p>Creators</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>397K</span>
									<p>Audience</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>243K</span>
									<p>Views</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>41.7K</span>
									<p>Engagement</p>
								</div>
							</div>
							<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn1">View More</a></div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="grids green">
						<figure><img src="{{.Site.BaseURL}}images/img8.png" alt=""></figure>
						<div class="choosecontent">
							<h6>Marketing</h6>
							<h4>Pantene's Gold Series</h4>
							<div class="row">
								<div class="col-md-3 text-center p-0">
									<span>9</span>
									<p>Creators</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>397K</span>
									<p>Audience</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>243K</span>
									<p>Views</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>41.7K</span>
									<p>Engagement</p>
								</div>
							</div>
							<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn1">View More</a></div>
						</div>
					</div>
				</div>

				<div class="col-lg-4">
					<div class="grids pink">
						<figure><img src="{{.Site.BaseURL}}images/img9.png" alt=""></figure>
						<div class="choosecontent">
							<h6>Marketing</h6>
							<h4>Pantene's Gold Series</h4>
							<div class="row">
								<div class="col-md-3 text-center p-0">
									<span>9</span>
									<p>Creators</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>397K</span>
									<p>Audience</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>243K</span>
									<p>Views</p>
								</div>

								<div class="col-md-3 text-center p-0">
									<span>41.7K</span>
									<p>Engagement</p>
								</div>
							</div>
							<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn1">View More</a></div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Why Choose Ends -->