

	<!-- Tools Resources Section -->
	<div id="toolsection">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Tools &amp; Resources</span>
					<h3>Tools &amp; Resources</h3>
					<p>Tools &amp; resources to help you become savvy at leveraging influence to drive measurable
						results for your campaigns</p>
				</div>
			</div>
			<div class="row">
				<div class="col-md-6">
					<div class="toolscol">
						<div class="row">
							<div class="col-md-6"><img src="{{.Site.BaseURL}}images/img14.jpg" alt=""></div>
							<div class="col-md-6">
								<div class="rightcolcontent">
									<h4>What Is Influencer Marketing?</h4>
									<p>There Are Many Variations Of Passages Of Lorem Ipsum Available, But The Majority
										Have Suffered Alteration In Some Form, By Injected Humour, Or Randomised Words
										Which Don't Look Even Slightly Believable.</p>
									<div class="getmore"><a href="#">View More</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>

				<div class="col-md-6">
					<div class="toolscol">
						<div class="row">
							<div class="col-md-6"><img src="{{.Site.BaseURL}}images/img15.jpg" alt=""></div>
							<div class="col-md-6">
								<div class="rightcolcontent">
									<h4>What Is Influencer Marketing?</h4>
									<p>There Are Many Variations Of Passages Of Lorem Ipsum Available, But The Majority
										Have Suffered Alteration In Some Form, By Injected Humour, Or Randomised Words
										Which Don't Look Even Slightly Believable.</p>
									<div class="getmore"><a href="#">View More</a></div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Tools Resources Section -->