<!-- Creative Services Section -->
<div id="creativeservices">
	<div class="container">
		<div class="row ">
			<div class="col-md-12 text-center topblocktxt">
				<span class="blocktxt">Why Choose Us</span>
				<h3>Famstar provides the best</h3>
				<p>Automate your Influencer Marketing activities using our proprietary technology. Use it to develop brand awareness, <br> increase your revenue, and reach out to thousands, even millions of potential consumers across cities and countries. </p>
			</div>
		</div>
	</div>

	<div class="container">
		<div class="row d-flex row-eq-height">
			<div class="col-md-4 mb-3">
				<div class="creativecol h-100">
					<figure><img src="{{.Site.BaseURL}}/images/img10.png" alt=""></figure>
					<h4>Smart Discovery</h4>
					<p>Famstar intelligently helps clients in discovering the right influencers for their brands, products & services and earn 11 times better return on investment than other traditional forms of digital marketing.
					</p>
				</div>
			</div>

			<div class="col-md-4 mb-3">
				<div class="creativecol h-100">
					<figure><img src="{{.Site.BaseURL}}/images/img11.png" alt=""></figure>
					<h4>AI Powered Platform: </h4>
					<p>You no longer have to sift through social media accounts and profiles to determine who is and isn’t an influencer. Our AI does all the background work to give you seamless experience
					</p>
				</div>
			</div>

			<div class="col-md-4 mb-3">
				<div class="creativecol h-100">
					<figure><img src="{{.Site.BaseURL}}/images/img12.png" alt=""></figure>
					<h4>Engagement Campaigns</h4>
					<p>Effortlessly connect with influencers and make your brand visible to a range of audience. Create your campaign, submit your brief, performance matrix, geographical location preference, hashtags, etc.. and get the results.</p>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Creative Services Section Ends -->