
	<!-- Creative Services Section -->
	<div id="creativeservices">
		<div class="container-fluid">
			<div class="row ">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Why Choose Us</span>
					<h3>Top 3 selling feature</h3>
					<p>Get more people talking about your brand. Measure the amount you need to add to your campaign to
						make<br> better use of influencers' high engagement rates with our Engagement Calculator.</p>
				</div>
			</div>

			<div class="container-fluid">
				<div class="row d-flex row-eq-height">
					<div class="col-md-4 mb-3">
						<div class="creativecol h-100">
							<figure><img src="{{.Site.BaseURL}}/images/img10.png" alt=""></figure>
							<h4>AI Powered</h4>
							<p>Advanced Machine Learning, enhanced automation drives results
								Operates 24x7 without breaks, provides predictive analysis with accuracy of data to bring the success numbers your <strong>Content Campaigns</strong> needs.
								</p>
						</div>
					</div>

					<div class="col-md-4 mb-3">
						<div class="creativecol h-100">
							<figure><img src="{{.Site.BaseURL}}/images/img11.png" alt=""></figure>
							<h4>Pay As you Engage</h4>
							<p>Digital Innovation that redefine influencer marketing
								Multiply your campaigns success rate by using influencers' high engagement rates with our 
								</p>
						</div>
					</div>

					<div class="col-md-4 mb-3">
						<div class="creativecol h-100">
							<figure><img src="{{.Site.BaseURL}}/images/img12.png" alt=""></figure>
							<h4>Engagement Calculator</h4>
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have
								suffered alteration in some form, by injected humour, or randomised words which don't
								look even slightly believable.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- Creative Services Section Ends -->