
	 <!-- Subscribe Section -->
     <div id="subscribesection">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 ml-auto mr-auto">
                    <div class="row align-items-center">
                        <div class="col-md-6">
                            <div class="bs-example">
                                <form>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="customRadio"
                                            id="customRadio1">
                                        <label class="custom-control-label" for="customRadio1">I am a Creator</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" class="custom-control-input" name="customRadio"
                                            id="customRadio2" checked>
                                        <label class="custom-control-label" for="customRadio2">I am a Brand</label>
                                    </div>
                                </form>
                            </div>
                        </div>

                        <div class="col-md-6 footer-newsletter">
                            <form action="" method="post">
                                <input type="email" name="email"><input type="submit" value="Subscribe">
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Section Ends -->