
	 <!-- Subscribe Section -->
     <div id="subscribesection">
        <div class="container">
            <div class="row">
                <div class="col-xl-8 col-md-12 ml-auto mr-auto">
                        <form  class="row align-items-center" method="post" >
                            <div class="col-md-6">
                                <div class="bs-example mx-auto text-center text-md-left">
                                  
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="type"
                                                id="customRadio1" value="Influencer" checked>
                                            <label class="custom-control-label" for="customRadio1">I am a Creator</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="type"
                                                id="customRadio2" value="Brand">
                                            <label class="custom-control-label" for="customRadio2">I am a Brand</label>
                                        </div>
                                
                                </div>
                        </div>

                        <div class="col-md-6 footer-newsletter">
                            <input type="email" name="email" placeholder="Enter mail"> 
                            <input type="submit" value="Subscribe" id="btnsunscribe">
                        </div>
                        
                        <div id="server-results"><!-- For server results --></div>
                    </form>


                </div>
            </div>
        </div>
    </div>
    <!-- Subscribe Section Ends -->