
	<!-- Home Grid Section -->
	<div id="gridsection" class="homegrid">
		<div class="container">
			<div class="row">
				<div class="col-md-12 text-center topblocktxt">
					<span class="blocktxt">Why Choose Us</span>
					<h3>Why You'll Adore Us</h3>
					<p>We encountered how difficult influencer marketing can be without the right tools. So, we created
						Famstar to take care of this problem. And now, we are leading the way for the creators and
						brands alike.</p>
				</div>
			</div>

			<div class="rowitems col-lg-12 col-md-12">
				<div class="col-lg-5 col-md-5 imgcontent"><img src="{{.Site.BaseURL}}/images/img1.png" alt=""></div>
				<div class="col-lg-7 col-md-7 gridcontent">
					<h2>Explore &amp; Analyse</h2>
					<h5>Manage your talent with easy search features</h5>
					<p>Utilize Our Widespread Network of Influencers And Find Who You Need, When you Need Them. Leverage
						The Influence of Creators Over Their Followers. Target Using Keywords, Demographics, Interests,
						Location, To Start With.</p>
					<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
				</div>
			</div>

			<div class="rowitems col-lg-12 col-md-12 align-items-center">
				<div class="col-lg-6 col-md-6 imgcontent"><img src="{{.Site.BaseURL}}/images/img2.png" alt="" style="max-width: 100%;">
				</div>
				<div class="col-lg-6 col-md-6 gridcontent">
					<h2>Monitor &amp; Manage</h2>
					<h5>Plan Your campaign as per your needs</h5>
					<p>Get Everything You Need To Manage influencer Relationships, Contact Information, Campaign Bids,
						And Campaign Data. Use Our Built-In Automation To Ensure Time &amp; Money Efficiency.</p>
					<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
				</div>
			</div>

			<div class="rowitems col-lg-12 col-md-12 align-items-center">
				<div class="col-lg-6 col-md-6 imgcontent"><img src="i{{.Site.BaseURL}}/mages/img3.png" alt="" style="max-width: 110%;">
				</div>
				<div class="col-lg-6 col-md-6 gridcontent">
					<h2>Measure &amp; Multiply</h2>
					<h5>Intuitive Analytics</h5>
					<p>With The Help of Powerful Analytics, Measure Everything From Reach, Views, Total Social Value,
						Conversion And ROI. We Have Everything To Measure The Core of your Marketing Efforts.</p>
					<div class="bannerbtn mt-4"><a href="#" class="btn-arrow transparentbtn">Get More</a></div>
				</div>
			</div>
		</div>
	</div>
	<!-- Home Grid Section Ends -->