
	<!-- Home Grid Section -->
	<div id="gridsection" class="homegrid section">
		<div class="container">
			<div class="row section-title">
				<div class="col-md-12 text-center topblocktxt">
					{{with .Params.whySection.tagline}}
					<span class="blocktxt">{{.}}</span>
					{{end}}
					<h3>{{.Params.whySection.title}}</h3>
					{{with .Params.whySection.description}}
						<p>{{.}}</p>
					{{end}}
				</div>
			</div>
		</div>

		<div class="container-fluid">
			{{range .Params.whySection.lists}}
				<div class="rowitems">
					<div class="col-lg-6 col-md-6 imgcontent">
						<img src="{{.Site.BaseURL}}/{{.image}}" alt="">
					</div>
					<div class="col-lg-6 col-md-6 gridcontent">
						<h2>{{.title}}</h2>
						<h5>{{.subTitle}}</h5>
						<p>{{.info}}</p>
						<div class="bannerbtn mt-4"><a href="{{.btnUrl}}" class="btn-arrow transparentbtn">{{.btnText}}</a></div>
					</div>
				</div>
			{{end}}

		</div>
	</div>
	<!-- Home Grid Section Ends -->