
    <!-- Why Influence Section -->
    <div id="whyinfluence">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topblocktxt">
                    <h3>What we propose</h3>
                    <p>With the right valuation of work minus the barter system, you have the power to drive customer loyalty, maximize revenue for brands and increase social reach. 
                        Our Content Farm allows you to produce & save your creative content for the brands to explore, select & pay through the best influencer marketing software.
                        </p>
                </div>

                <div class="col-md-12 d-flex flex-column flex-md-row text-center store">
                    <a href=""><img src="{{.Site.BaseURL}}/images/playstore.png" alt=""></a>
                    <a class="mt-2 mt-md-0" href=""><img src="{{.Site.BaseURL}}/images/appstore.png" alt=""></a>
                </div>
            </div>

        </div>
    </div>
    <!-- Why Influence Section Ends -->