
    <!-- Why Influence Section -->
    <div id="whyinfluence">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topblocktxt">
                    <h3>Why Famstar</h3>
                    <p>Lorem Ipsum Is Simply Dummy Text Of The Printing And Typesetting Industry. Lorem Ipsum Has Been
                        The Industry's Standard Dummy Text Ever Since The 1500S, When An Unknown Printer Took A Galley
                        Of Type And Scrambled It To Make A Type Specimen Book.</p>
                </div>

                <div class="col-md-12 text-center store">
                    <a href=""><img src="{{.Site.BaseURL}}images/playstore.png" alt=""></a>
                    <a href=""><img src="{{.Site.BaseURL}}images/appstore.png" alt=""></a>
                </div>
            </div>

        </div>
    </div>
    <!-- Why Influence Section Ends -->