
    <!-- Why Choose -->
    <div id="whychoosei">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center topblocktxt">
                    <span class="blocktxt">Why Choose Us</span>
                    <h3>WHY INFLUENCERS LOVE US</h3>
                </div>
            </div>

            <div class="row grid4">
                <div class="col-md-6">
                    <img src='{{"images/no1.png" | absURL}}' alt="">
                    <h4>Personalized Vetted Scholarship Matches</h3>
                        <p>Get Matched To Scholarships That Are Most Relevant To You.
                            View Scholarship Credibility Scores To Know Where To Focus.</p>
                </div>
                <div class="col-md-6">
                    <img src='{{"images/no2.png" | absURL}}' alt="">
                    <h4>Personalized Vetted Scholarship Matches</h3>
                        <p>Get Matched To Scholarships That Are Most Relevant To You.
                            View Scholarship Credibility Scores To Know Where To Focus.</p>
                </div>
            </div>

            <div class="row grid4">
                <div class="col-md-6">
                    <img src='{{"images/no3.png" | absURL}}'  alt="">
                    <h4>Personalized Vetted Scholarship Matches</h3>
                        <p>Get Matched To Scholarships That Are Most Relevant To You.
                            View Scholarship Credibility Scores To Know Where To Focus.</p>
                </div>
                <div class="col-md-6">
                    <img src='{{"images/no4.png" | absURL}}'  alt="">
                    <h4>Personalized Vetted Scholarship Matches</h3>
                        <p>Get Matched To Scholarships That Are Most Relevant To You.
                            View Scholarship Credibility Scores To Know Where To Focus.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Ends -->