
    <!-- Why Choose -->
    <div id="whychoosei">
        <div class="container px-5">
            <div class="row">
                <div class="col-md-12 text-center topblocktxt">
                    <span class="blocktxt">Why Choose Us</span>
                    <h3>Why creators love us!</h3>
                </div>
            </div>

            <div class="row grid4 mb-4">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src='{{"images/no1.png" | absURL}}' alt="">
                    <h4>Get paid within 24 hours*</h3>
                        <p>Once the brands give their approval for the post, you will post your creative content. Once it is submitted, your money gets deposited to their Famstar wallet within 24-hours. </p>
                </div>
                <div class="col-md-6">
                    <img src='{{"images/no2.png" | absURL}}' alt="">
                    <h4>Transparent bidding</h3>
                        <p>Explore the campaigns posted by the brands. Everyone on Famstar app has the opportunity to bid on a campaign. For us, you all are our FAM. </p>
                </div>
            </div>

            <div class="row grid4 mb-4">
                <div class="col-md-6 mb-4 mb-md-0">
                    <img src='{{"images/no3.png" | absURL}}'  alt="">
                    <h4>Pitch with your creative content</h3>
                        <p>Brands are always on the lookout for people who can understand their POV. When you submit with your creative, brands see the connection and approve your style, it is awesome to collaborate with them.</p>
                </div>
                <div class="col-md-6">
                    <img src='{{"images/no4.png" | absURL}}'  alt="">
                    <h4>Copyright content</h3>
                        <p>Don't sell your content for free. Until a brand approves and buys your content piece, we safeguard your posts. Your content is copyright protected with us.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- Why Choose Ends -->