{{ define "main" }}
	
    <!-- Hero Section -->
    <div class="aboutpage">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
					<figure class="topfigure"><img src="{{.Site.BaseURL}}/images/Contact-Illustration-2.svg" alt=""></figure>
                </div>
				
				<div class="col-lg-6">
					<div class="contactform">
                    	<h2>Contact Us</h2>
						<div class="form-group row">
							<form action="https://api.famstar.in/contact" method="post" class="w-100">
								
								<div class="col-md-12">
									<input class="form-control mb-4" type="text" name="name" placeholder="Name" required="">
								</div>
								<div class="col-md-12">
									<input class="form-control my-4" type="text" name="email" placeholder="Email Address" required="">
								</div>
								<div class="col-12">
									<div class="bs-example mx-auto text-center text-md-left">                                  
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="type"
                                                id="customRadio1" value="Influencer" checked>
                                            <label class="custom-control-label" for="customRadio1">I am a Creator</label>
                                        </div>
                                        <div class="custom-control custom-radio custom-control-inline">
                                            <input type="radio" class="custom-control-input" name="type"
                                                id="customRadio2" value="Brand">
                                            <label class="custom-control-label" for="customRadio2">I am a Brand</label>
                                        </div>
                                
                                	</div>
								</div>

								<div class="col-md-12">
									<input class="form-control my-4" type="tel" name="phoneNumber" placeholder="Phone Number" required="">
								</div>
								<div class="col-md-12">
									<textarea rows="3" class="form-control mb-4" name="body" placeholder="Your Message" required=""></textarea>
								</div>
								<div class="col-md-12"><input class="btn btn-dark" type="submit" value="Submit Now"></div>
							</form>


						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- Hero Section -->
    <div class="clearfix"></div>

	
	{{- partial "subscribesection.html" . -}}
{{end}}