{{ define "main" }}
	
    <!-- Hero Section -->
    <div class="aboutpage">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
					<figure class="topfigure"><img src="{{.Site.BaseURL}}/images/Contact-Illustration-2.svg" alt=""></figure>
                </div>
				
				<div class="col-lg-6">
					<div class="contactform">
                    	<h2>Contact Us</h2>
						<div class="form-group row">
							<div class="col-md-12"><input class="form-control my-4" type="text" name="name" placeholder="Email Address" required=""></div>
							<div class="col-md-12"><input class="form-control mb-4" type="text" name="name" placeholder="Subject" required=""></div>
							<div class="col-md-12"><textarea rows="3" class="form-control mb-4" name="message" placeholder="Your Message" required=""></textarea></div>
							<div class="col-md-12"><input class="btn btn-dark" type="submit" value="Submit Now"></div>
						</div>
					</div>
				</div>
            </div>
        </div>
    </div>
    <!-- Hero Section -->
    <div class="clearfix"></div>

	
	{{- partial "subscribesection.html" . -}}
{{end}}